{% extends 'base.html' %}

{% block title %}

<title>Your private webpage</title>

{% endblock %}



{% block contents%}

<h1> You made it {{user.username}}! </h1>
<p>Name: {{user.first_name}} {{user.last_name}}</p>
<p>Email: {{user.email}}</p>
<form action="/users/{{user.username}}/delete" method="POST">
    <button type="submit">DELETE USER</button>
</form>
<br>
<strong>All Feedback:</strong>
<ul>
    {% for feedback in feedbacks %}
    <li><a href="/feedback/{{feedback.id}}/update">{{feedback.title}}</a>
        {% if session["username"] == feedback.username %}
        <form action="/feedback/{{feedback.id}}/delete" method="POST">
            <button type="submit">X</button>
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}